<!--
  Generated template for the Cart page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar>
        <ion-title>
            <ion-icon name="cart"></ion-icon>
            Carrinho
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-divider color="light">
            Itens Escolhidos
            <div *ngIf="cartService.orderIsDirty() && cartService.fieldIsInvalid('items')">
                <p class="inputError" *ngIf="cartService.fieldErr('items')">
                    Necessário adicionar algum item
                </p>
                <p class="inputError" *ngIf="cartService.fieldErr('items', 'minimum_value')">
                    Valor total deve ser acima de {{ 20 | currency:'BRL':true:'1.2-2' }}
                </p>
            </div>
        </ion-item-divider>

        <ion-item *ngFor="let item of cartService.getCartItems()">
            <ion-badge color="secondary" item-left>{{ item.quantidade }} x</ion-badge>
            <h2>{{ item.valor_unitario | currency:'BRL':true:'1.2-2' }}</h2>
            <p style="white-space: normal;">{{ cartService.getNome(item.product_id) }}</p>
            <button type="button" ion-button icon-only item-right clear large color="danger" (click)="cartService.removeItem(item)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
        <ion-item *ngIf="cartService.hasCartValue()" text-right>
            Valor Total: {{ cartService.getTotalCart() | currency:'BRL':true:'1.2-2' }}
        </ion-item>
        <ion-item *ngIf="!cartService.hasCartValue()" text-center>
            <em>Nenhum item adicionado</em>
        </ion-item>
    </ion-list>
    <form [formGroup]="cartService.formBuild('order')" (ngSubmit)="submitOrder()">
        <ion-list radio-group [formControl]="cartService.formBuild('pagamento')">
            <ion-item-divider color="light">
                Forma de pagamento
            </ion-item-divider>

            <ion-item>
                <ion-label>Dinheiro</ion-label>
                <ion-radio checked="true" value="vistad"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>
                    Cartão de Débito
                    <div class="pull-right">
                        <div class="button"><i class="brand master-brand"></i></div>
                        <div class="button"><i class="brand visa-brand"></i></div>
                        <div class="button"><i class="brand elo-brand"></i></div>
                    </div>
                </ion-label>
                <ion-radio value="vistacd"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>
                    Cartão Crédito
                    <div class="pull-right">
                        <div class="button"><i class="brand master-brand"></i></div>
                        <div class="button"><i class="brand visa-brand"></i></div>
                        <div class="button"><i class="brand elo-brand"></i></div>
                    </div>
                </ion-label>
                <ion-radio value="vistacc"></ion-radio>
            </ion-item>

            <ion-item *ngIf="cartService.formBuild('pagamento').value=='vistad'">
                <ion-label stacked>Troco:</ion-label>
                <ion-input formControlName="troco" type="text" placeholder="Ex.: 20,00"></ion-input>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item-divider color="light">Seus Dados</ion-item-divider>

            <ion-item>
                <ion-label stacked>
                    Seu nome:
                    <div *ngIf="cartService.orderIsDirty() && cartService.fieldIsInvalid('nome')">
                        <p class="inputError" *ngIf="cartService.fieldErr('nome')">
                            Nome é necessário para criar a ordem
                        </p>
                    </div>
                </ion-label>
                <ion-input [formControl]="cartService.formBuild('nome')" type="text" placeholder="Ex.: João da Silva"></ion-input>
            </ion-item>

            <ion-item-divider color="light">
                Seus Contatos
                <div *ngIf="cartService.orderIsDirty() && cartService.fieldIsInvalid('contacts')">
                    <p class="inputError" *ngIf="cartService.fieldErr('contacts', 'contactsInvalid')">
                        Selecione ao menos um contato
                    </p>
                    <p class="inputError" *ngIf="cartService.fieldErr('contacts', 'emailInvalid')">
                        Digite um e-mail válido
                    </p>
                    <p class="inputError" *ngIf="cartService.fieldErr('contacts', 'smsInvalid')">
                        Digite um número de SMS válido
                    </p>
                    <p class="inputError" *ngIf="cartService.fieldErr('contacts', 'whatsappInvalid')">
                        Digite um número de Whatsapp válido
                    </p>
                </div>
            </ion-item-divider>

            <div [formGroup]="cartService.formBuild('contacts')">
                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-toggle formControlName="emailCheck" value="true" checked="false"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="cartService.contactsChecked('emailCheck')">
                    <ion-label stacked>Seu e-mail:</ion-label>
                    <ion-input formControlName="email" type="email" placeholder="Ex.: exemplo@gmail.com"></ion-input>
                </ion-item>

                <!--<ion-item>-->
                    <!--<ion-label>SMS</ion-label>-->
                    <!--<ion-toggle formControlName="smsCheck" checked="false"></ion-toggle>-->
                <!--</ion-item>-->
                <!--<ion-item *ngIf="cartService.contactsChecked('smsCheck')">-->
                    <!--<ion-label stacked>Seu número SMS:</ion-label>-->
                    <!--<ion-input formControlName="sms" type="text" placeholder="Ex.: (22)999 999 999"></ion-input>-->
                <!--</ion-item>-->

                <ion-item>
                    <ion-label>Whatsapp</ion-label>
                    <ion-toggle formControlName="whatsappCheck" checked="false"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="cartService.contactsChecked('whatsappCheck')">
                    <ion-label stacked>Seu número Whatsapp:</ion-label>
                    <ion-input formControlName="whatsapp" type="text" placeholder="Ex.: (22)999 999 999"></ion-input>
                </ion-item>
            </div>

            <ion-item-divider color="light">Endereço de Entrega</ion-item-divider>

            <ion-item>
                <ion-label stacked>
                    CEP:
                    <div *ngIf="cartService.orderIsDirty() && cartService.fieldIsInvalid('cep')">
                        <p class="inputError" *ngIf="cartService.fieldErr('cep')">
                            CEP é necessário para criar a ordem
                        </p>
                    </div>
                    <ion-spinner class="pull-right" *ngIf="cepLoading" name="dots"></ion-spinner>
                </ion-label>
                <ion-input (keyup)="onKeyUpCep($event)" [formControl]="cartService.formBuild('cep')" type="text" placeholder="Ex.: 28893818"></ion-input>
            </ion-item>
            <ion-item *ngIf="foundCep && foundCep.length>0">
                <ion-list inset>
                    <ion-item-divider color="light">
                        <h2>Buscamos nos Correios</h2>
                        <p>Encontramos estes:</p>
                        <em class="pull-right">Clique para selecionar</em>
                    </ion-item-divider>
                    <ion-item *ngFor="let item of foundCep" (click)="onClickFoundAddress(item)">
                        <h2>{{ item.logradouro }}<span *ngIf="item.complemento.length">, {{ item.complemento }}</span></h2>
                        <p>{{ item.cep }} - {{ item.bairro }}</p>
                    </ion-item>
                </ion-list>
            </ion-item>


            <ion-item>
                <ion-label stacked>
                    Endereço:
                    <div *ngIf="cartService.orderIsDirty() && cartService.fieldIsInvalid('logradouro')">
                        <p class="inputError" *ngIf="cartService.fieldErr('logradouro')">
                            Endereço é necessário para criar a ordem
                        </p>
                    </div>
                    <ion-spinner class="pull-right" *ngIf="addressLoading" name="dots"></ion-spinner>
                </ion-label>
                <ion-input (keyup)="onKeyUpLogradouro($event)" [formControl]="cartService.formBuild('logradouro')" type="text" placeholder="Ex.: Av. Brasil"></ion-input>
            </ion-item>
            <ion-item *ngIf="foundAddresses && foundAddresses.length>0">
                <ion-list inset>
                    <ion-item-divider color="light">
                        <h2>Buscamos nos Correios</h2>
                        <p>Encontramos estes:</p>
                        <em class="pull-right">Clique para selecionar</em>
                    </ion-item-divider>
                    <ion-item *ngFor="let item of foundAddresses" (click)="onClickFoundAddress(item)">
                        <h2>{{ item.logradouro }}<span *ngIf="item.complemento.length">, {{ item.complemento }}</span></h2>
                        <p>{{ item.cep }} - {{ item.bairro }}</p>
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item>
                <ion-label stacked>
                    Bairro:
                    <div *ngIf="cartService.orderIsDirty() && cartService.fieldIsInvalid('bairro')">
                        <p class="inputError" *ngIf="cartService.fieldErr('bairro')">
                            Bairro é necessário para criar a ordem
                        </p>
                    </div>
                </ion-label>
                <ion-input [formControl]="cartService.formBuild('bairro')" type="text" placeholder="Ex.: Centro"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Número:</ion-label>
                <ion-input [formControl]="cartService.formBuild('numero')" type="text" placeholder="Ex.: 999"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Complemento: (opcional)</ion-label>
                <ion-input formControlName="complemento" type="text" placeholder="Ex.: apartamento 109"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Observação: (opcional)</ion-label>
                <ion-input formControlName="observacao" type="text" placeholder="Ex.: enviar mensagem ao chegar"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button full large type="submit" [disabled]="cartService.fieldIsInvalid('order')">Solicitar Entrega</button>
            </ion-item>
        </ion-list>
    </form>

</ion-content>
