<ion-header no-border>
    <ion-navbar align-title="left">
        <ion-title *ngIf="isNotSearching()">
            delivery24horas.com
        </ion-title>

        <ion-buttons end *ngIf="isNotSearching()">
            <button ion-button icon-only (click)="goToCartPage()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge color="secondary" *ngIf="hasCartValue()">{{ getTotalCart() | currency:'BRL':true }}</ion-badge>
            </button>
            <button ion-button icon-only (click)="startSearch($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>

        <ion-searchbar #search *ngIf="isSearching()" placeholder="Busca de produtos"
                       animated="true" showCancelButton="false"
                       (ionBlur)="onBlur($event)" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)" (ionClear)="onClear($event)">

        </ion-searchbar>

    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col text-center>.
                <img
                     width="200" height="199"
                     alt="delivery24horas.com - Delivery Rio das Ostras 24 horas - Entrega de Bebidas e Cigarros"
                     title="delivery24horas.com - Delivery Rio das Ostras 24 horas - Entrega de Bebidas e Cigarros"
                     src="https://storage.googleapis.com/ilhanet-140808.appspot.com/logo/logo-delivery-24-horas-rio-das-ostras.png">
                <!--<h2 style="font-size: x-large">delivery24horas.com</h2>-->
                <!--<h1>Delivery 24 Horas em Rio das Ostras</h1>-->
                <h3>Qualquer hora, é fácil, peça Delivery!</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list inset>
        <ion-item-divider text-center color="light" style="font-size: large">
            Veja nossas opções
        </ion-item-divider>
        <ion-item>
            <div *ngFor="let category of categories" class="pull-left" padding text-center>
                <button ion-button large outline round icon-only color="" (click)="goToProductPage(category.id)">
                    <ion-icon name="{{ category.icone }}"></ion-icon>
                </button>
                <div>{{category.grupo}}</div>
            </div>
            <div class="pull-left" padding text-center>
                <button ion-button large outline round icon-only color="" (click)="goToProductPage()">
                    <ion-icon name="globe"></ion-icon>
                </button>
                <div>Todas</div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
