page-product {
  .productBlock {
    display: inline-block;
    float: left;
    margin: 10px;
    width: 200px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    >div {
      height: 95px;
    }
  }
}
